body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

header {
    background-color: #418285;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #6a5acd;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
}


.profile-card {
    width: 200px;
    height: 200px;
    display: block;
}
.profile-card img {
    width:100%;
    height: 120%;
    object-fit: cover;
    border-radius: 60%;
    overflow: hidden;
}


.title {
    font-size: 18px;
    color: #6a5acd;
    font-weight: bold;
}

.contact-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #6a5acd;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.info {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    padding: 8px;
}

.portfolio {
    padding: 20px;
}

.projects {
    display: flex;
    justify-content: space-around;
}

.project-item {
    background: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
